.prev_container_about {
    width: 100%;
    background-color: #edecec;
    display: flex;
    box-sizing: border-box;
    .prev_wrap {
        padding: 40px;
        max-width: 980px;
        line-height: 1.9;
        color: #fff;
        margin: 0 auto;
        flex: auto;
        strong {
            font-size: 40px;
        }
        p {
            font-size: 22px;
        }

        span {
            color: gray;
            font-size: 24px;
        }
    }
}    
.container_about {
    padding-top: 50px;
    max-width: 980px;
    margin: auto;
    display: grid;
    .set_about {
        display: grid;
        width: 100%;
        text-align: center;
        padding: 50px 0;
        border: 10px solid #edecec;
        border-radius: 20px;
        margin-bottom: 20px;
        img {
            width: 250px;
            height: 250px;
            margin: auto;
            border-radius: 50%;
        }
        p  {
            padding-top: 20px;
            font-size: 16px;
            font-weight: 600;
        }
    }
    .delivery {
        grid-column: 1/1;
        grid-row: 1/1;
    }
    .sklad {
        grid-column: 3/3;
        grid-row: 1/1;
    }
    .partner {
        grid-column: 1/1;
        grid-row: 2/2;
    }
    .store_online {
        grid-column: 3/3;
        grid-row: 2/2;
    }   
}